# Variáveis de ambiente
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Histórico local
data/historico.json
data/historico.txt

# Virtual environment
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
